
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: 
   Date:   
   
   Filename: ph_styles.css

*/

@charset "utf-8";

@font-face {
   font-family: face;
   src: url('cac_champagne.woff') format('woff'),
   url('cac_champagne.ttf') format('truetype');
}




/* Structural Styles */




/* Navigation Styles */




/* Section Styles */




/* Description List Styles */

